name: Update Calendars

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Fetch Personal Calendar
        run: curl -L "https://calendar.google.com/calendar/ical/pskandelmail%40gmail.com/private-3f860a04fb0570102688170b52564c42/basic.ics" -o calendars/personal.ics

      - name: Fetch Kenyon Calendar
        run: curl -L "https://calendar.google.com/calendar/ical/kandel1%40kenyon.edu/private-38a92cab6ad9124ae204fc8f5dc40e67/basic.ics" -o calendars/kenyon.ics

      - name: Fetch Family Calendar
        run: curl -L "https://calendar.google.com/calendar/ical/eiusan2qer3qb66dragfdqv6n4%40group.calendar.google.com/private-6aa24b9fdb6c890da5038ca012dfd501/basic.ics" -o calendars/family.ics

      - name: Commit and push changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add calendars/*.ics
          git commit -m "Update calendars" || echo "No changes"
          git push
